.jumbotron {
  padding-top: 5rem;
  background-image: url(img/wp\ one\ direction.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

#projects {
  background-color: #e7dac9;
}

section {
  padding-top: 5rem;
}
